<main class="single-tea">
  <h2> Tea Title </h2>
  <article class="single-tea__area">
    <section class="single-tea__content">
      <img class="single-tea__img" src="assets/img/aromatic-close-cup-1417945.jpg" alt="aromatic jazmine tea">
      <div class="single-tea__descriptions">
        <h3>Description</h3>
        <p> Yin Hao Jasmine blossom tea is recognized as the finest in the world brewing a bright cup with clean, sharp flavors. Sweet China leaves are married with fragrant flowers seven times during the evening when the jasmine blossoms open.</p>
        <p>Green tea contains less than a quarter the amount of caffeine per cup than in a similar-sized cup of coffee</p>
        <ul>
          <h3>ingredients</h3>
          <li> Rare Yin Hao green tea leaves</li>
          <li> Jasmine blossoms</li>
        </ul>
        <h3>Instructions</h3>
        <p> Steeping green tea is easy. Simply heat fresh, filtered water just short of boiling. Then pour water over tea and steep for 1-3 minutes (if using a tea bag) or 2-4 minutes (if using full-leaf tea.)</p>
      </div>
    </section>
  </article>
</main>

