.single-tea {
  padding: 5%;

  &__img {
    max-width: 50%;
    max-height: -webkit-fill-available;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__content {
    display: flex;
  }

  &__descriptions {
    width: -webkit-fill-available;
    padding-left: 2%;
  }
}

.mat-card {
  width: 50%;
}

@media only screen and (max-width: 70.5rem) {
  .single-tea__content {
    flex-direction: column;
  }
}
