
<section class="hero-image">
  <div class="hero-text">
    <h1>Welcome To T-List</h1>
    <p>Check out our teas!</p>
    <button mat-button type="button" (click)="btnClick()">All Teas</button>
  </div>
</section>

<!-- //welcome section -->
<section class="welcome-section">
  <article class="welcome">
    <h2>welcome</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </article>

  <article class="about">
    <h2>about</h2>
    <p>With supreme good fortune, we have progressed—constantly enriching people’s lives through the experience of premium teas, education and innovation. Our award-winning packaging includes teas and herbs available in specially designed air-tight, light-resistant tins containing either full-leaf teas and herbs or our signature round, unbleached tea bags, free of unnecessary envelopes, strings, tags or staples. Decaffeinated teas varieties are also available. All of our teas are Certified Gluten-Free by the Gluten-Free Certification Organizatiomn.</p>
    <p>A socially and environmentally responsible business, The Republic of Tea is dedicated to sharing our prosperity by developing products to support worthy organizations, including Action Against Hunger and the Whole Planet Foundation. We are also a member of The Ethical Tea Partnership.</p>
  </article>
</section>
