
<section class="hero-image">
  <div class="hero-text">
    <h1>Welcome To T-List</h1>
    <p>Check out our teas!</p>
    <button mat-button type="button" (click)="btnClick()">All Teas</button>
  </div>
</section>

<!-- //welcome section -->
<section class="welcome-section">
  <article class="welcome">
    <h2>welcome</h2>
    <p>T-list (tea list) is here for your tea and coffee custom recipe consumption, creation and promotion.</p>
    <p>We pride ourselves as the one stop expert on all things tea and coffee. </p>
  </article>

  <article class="about">
    <h2>about</h2>
    <p>With supreme good fortune, we have progressed—constantly enriching people’s lives through the experience of premium teas, education and innovation. Our award-winning packaging includes teas and herbs available in specially designed air-tight, light-resistant tins containing either full-leaf teas and herbs or our signature round, unbleached tea bags, free of unnecessary envelopes, strings, tags or staples. Decaffeinated teas varieties are also available. All of our teas are Certified Gluten-Free by the Gluten-Free Certification Organization.</p>
    <p>A socially and environmentally responsible business, T-List is dedicated to sharing our prosperity by developing products to support worthy organizations, including Action Against Hunger and the Whole Planet Foundation. We are also a member of The Ethical Tea Partnership.</p>
  </article>
</section>
