/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; line-height: 1.5;}
h1,
h2,
h3 {
  text-transform: capitalize;
}
.welcome-section {
  color: slategrey;
}
.mat-card {
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.mat-drawer-content.mat-sidenav-content {
  background-color: #fff;
}