.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
span {
  display: flex;
  flex-direction: row-reverse;
  vertical-align: middle;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }

  .logo {
    align-items: center;
    max-height: -webkit-fill-available;
    height: 1.5rem;
    margin: auto 0.5rem;
  }
}